
<div class="bullshit">
    <div class="bullshit-intro">
        <h1 class="bullshit-title">Bullshit Bingo</h1>
        <h2>PHPTour 2015 Edition</h2>
        <p>Check a word when you ear it.</p>
    </div>
    <!--
    <div class="bottom-offset">
        <input type="text" class="form-control" placeholder="Write something here" autofocus #newbingo (keyup)="add($event,newbingo)"/>
    </div>
    -->
    <ul class="bullshit-list">
        <li *for="#bingo of bingoStore.bingoList">
            <button (click)="toggleBingoState(bingo)"
                    class="bullshit-word"
                    [class.found]="bingo.found">{{bingo.text}}</button>
        </li>
    </ul>

<div class="col-xs-4"></div>

</div>
